---
// Hacemos una solicitud a la API para obtener los datos
const response = await fetch("http://localhost:3000/api/productos");
let data = await response.json();
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {
    data.map(
      (item: {
        ProductoID: unknown;
        NombreProducto: unknown;
        Descripcion: unknown;
        Precio: unknown;
        Stock: unknown;
        Categoria: unknown;
      }) => (
        <div class="bg-white rounded-lg shadow-lg p-6">
          <div class="rounded-lg overflow-hidden">
            <div class="px-4 py-2 bg-gray-800 text-white">
              <h2 class="font-semibold text-xl">{item.NombreProducto}</h2>
              <p class="text-sm">{item.Categoria}</p>
            </div>

            <div class="p-4">
              <div class="flex justify-between items-center">
                <div>
                  <h3 class="text-lg font-semibold">${item.Precio}</h3>
                  <p class="text-sm text-gray-600">Stock: {item.Stock}</p>
                </div>
                <div>
                  <p class="text-sm">ID: {item.ProductoID}</p>
                </div>
              </div>

              <div class="mt-4">
                <p class="text-sm">{item.Descripcion}</p>
              </div>
            </div>
          </div>
        </div>
      ),
    )
  }
</div>
